[submodule "api"]
	path = api
	url = ./api
[submodule "doc"]
	path = doc
	url = ./doc
[submodule "fe"]
	path = fe
	url = ./fe
[submodule "python"]
	path = python
	url = ./python/
[submodule "clib"]
	path = clib
	url = ./clib/
